.landing-container {
  font-family: 'Helvetica';
  background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
}

.landing-container__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.landing-container__inner img {
  margin: 100px 168px 106px 170px;
}

.landing-container__innner-desc {
  margin-right: 160px;
}

.landing-container__innner-desc h1{
  font-size: 64px;
  font-weight: 700;
  text-align: right;
  line-height: 64px;
  color: rgba(36, 13, 87, 1);
  margin-bottom: 16px;
}

.landing-container__innner-desc span{
  font-size: 64px;
  font-weight: 700;
  text-align: right;
  color: rgba(132, 86, 236, 1);
  line-height: 64px;
}

.landing-container__inner-subtext {
  font-size: 24px;
  font-weight: 300;
  line-height: 27.6px;
  text-align: right;
}

.landing-container__inner-subtext p {
  margin-top: 0px;
  margin-bottom: 52px;
}

.landing-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: right;
  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 16px;
  width: 500px;
}